<h1>Them hoat dong</h1>

<form action="/add" method="POST">
    MaHD: <input type="text" name="MaHD"><br>
    TenHD:<input type="text" name="TenHD"><br>
    MoTaHD:<input type="text" name="MoTaHD"><br>
    NgayGioHD: <input type="date" name="NgayGioHD"><br>
    NgayGioKT: <input type="date" name="NgayGioKT"><br>
    SLToiThieuYC: <input type="number" name="SLToiThieuYC"><br>
    SLToiDaYC: <input type="number" name="SLToiDaYC"><br>
    ThoiHanDK: <input type="date" name="ThoiHanDK"><br>
    TrangThai: <input type="text" name="TrangThai"><br>
    MaTV: <input type="text" name="MaTV"><br>
    <button type="submit">add</button>
</form>