<h1>Edit</h1>

<form action="/edit/<%= hoatdong._id %>" method="POST">
    MaHD: <input type="text" name="mahd" value="<%= hoatdong.MaHD %> "><br>
    TenHD:<input type="text" name="tenhd" value="<%= hoatdong.TenHD %> "><br>
    MoTaHD:<input type="text" name="motahd" value="<%= hoatdong.MoTaHD %> "><br>
    NgayGioHD: <input type="text" name="ngaygiohd" value="<%= hoatdong.NgayGioHD %> "><br>
    NgayGioKT: <input type="text" name="ngaygiokt" value="<%= hoatdong.NgayGioKT %> "><br>
    SLToiThieuYC: <input type="text" name="SLToiThieuYC" value="<%= hoatdong.SLToiThieuYC %> "><br>
    SLToiDaYC: <input type="text" name="SLToiDaYC" value="<%= hoatdong.SLToiDaYC %> "><br>
    ThoiHanDK: <input type="text" name="ThoiHanDK" value="<%= hoatdong.ThoiHanDK %> "><br>
    TrangThai: <input type="text" name="TrangThai" value="<%= hoatdong.TrangThai %> "><br>
    MaTV: <input type="text" name="MaTVs" value="<%= hoatdong.MaTV %> "><br>
    LyDoHuyHD: <input type="text" name="LyDoHuyHD" value="<%= hoatdong.LyDoHuyHD %> "><br>
    <button type="submit">edit</button>
</form>