<!DOCTYPE html>
<html>
  <head>
    <title>Danh sach hoat dong</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Danh sach hoat dong</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>MaHD</th>
        <th>TenHD</th>
        <th>MoTaHD</th>
        <th>NgayGioHD</th>
        <th>NgayGioKT</th>
        <th>SLToiThieuYC</th>
        <th>SLToiDaYC</th>
        <th>ThoiHanDK</th>
        <th>TrangThai</th>
        <th>MaTV</th>
        <th>LyDoHuyHD</th>
        <th>Action</th>
      </tr>
      <% hoatdong.forEach(iteam => {%>
        <tr>
          <td><%= iteam._id %> </td>
          <td><%= iteam.MaHD %> </td>
          <td><%= iteam.TenHD %> </td>
          <td><%= iteam.MoTaHD %> </td>
          <td><%= iteam.NgayGioHD %> </td>
          <td><%= iteam.NgayGioKT %> </td>
          <td><%= iteam.SLToiThieuYC %> </td>
          <td><%= iteam.SLToiDaYC %> </td>
          <td><%= iteam.ThoiHanDK %> </td>
          <td><%= iteam.TrangThai %> </td>
          <td><%= iteam.MaTV %> </td>
          <td><%= iteam.LyDoHuyHD %> </td>
          <td><a href="/form-edit/<%= iteam._id %>">Edit</a>||<a href="/form-delete/<%= iteam._id %>">delete</a></td>
          </tr>
     <% });  %> 
    </table>
    <a href="/form-add"><button>them hoat dong</button></a>
   
  </body>
</html>
