<!DOCTYPE html>
<html>
  <head>
    <title>Danh sach hoat dong</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Danh sach tham gia</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>MaTV</th>
        <th>MaHD</th>
        <th>NgayGioDangKy</th>
        <th>DiemTruongDoan</th>
        <th>DiemTieuChi1</th>
        <th>DiemTieuChi1</th>
        <th>DiemTieuChi1</th>
        <th>DiemTieuChiTrungBinh</th>
        <th>NhanXetKhac</th>
      </tr>
      <% thamgia.forEach(iteam => {%>
        <tr>
          <td><%= iteam._id %> </td>
          <td><%= iteam.MaTV %> </td>
          <td><%= iteam.MaHD %> </td>
          <td><%= iteam.NgayGioDangKy %> </td>
          <td><%= iteam.DiemTruongDoan %> </td>
          <td><%= iteam.DiemTieuChi1 %> </td>
          <td><%= iteam.DiemTieuChi2 %> </td>
          <td><%= iteam.DiemTieuChi3 %> </td>
          <td><%= iteam.DiemTieuChiTrungBinh %> </td>
          <td><%= iteam.NhanXetKhac %> </td>
          </tr>
     <% });  %> 
    </table>
  </body>
</html>